.footer {
  background: #000;
  color: white;
  padding-top: 60px;
  border-top: 1px solid #222;
}

.footer-container {
  width: 90%;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 40px;
  padding-bottom: 40px;
}

.footer-section h2,
.footer-section h3 {
  color: #d4af37;
  margin-bottom: 15px;
}

.footer-logo {
  font-size: 2rem;
}

.footer-section p,
.footer-section a {
  color: #ccc;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  transition: 0.3s;
}

.footer-section a:hover {
  color: #d4af37;
}

.footer-socials {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.footer-socials a {
  color: white;
  font-size: 22px;
}

.footer-socials a:hover {
  color: #d4af37;
  transform: translateY(-3px);
}

.footer-bottom {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #222;
  color: #888;
}

/* Responsive */

@media (max-width: 992px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-socials {
    justify-content: center;
  }
}